.container {
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: auto, auto,auto,auto,auto,auto, auto;
    margin: 0;
    width: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: GRAY;
    flex-wrap: wrap;
}

/*logo row 1*/
section.grid-item.grid-item-1 {
    grid-column: 1;
}

section.grid-item.grid-item-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
}

section.grid-item.grid-item-1 {
    background-color: WHITE;
    font-size: 12px;
}




/*NAV BAR */
section.grid-item.grid-item-2 {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


h2,
h3,
a {
    color: gray;
}

a {
    text-decoration: none;
}



.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

    .logo a,
    .main-nav a {
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        flex-wrap: wrap;
    }

    .main-nav a {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        color: #34495e;
        font-size: .99em;
    }

        .main-nav a:hover {
            display: flex;
            color: #718daa;
        }



.header {
    padding-top: .5em;
    padding-bottom: .5em;
    /*border: 0px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    flex-wrap: wrap;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header

{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
}

}
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

section.grid-item.grid-item-3 {
    grid-column: 1 / span 3;
}
/*-------------------------------------
SLIDER SECTION ------------------------*/
@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

body {
    margin: 0;
}

div#slider {
    overflow: hidden;
}

    div#slider figure img {
        width: 20%;
        height: 405px;
        float: left;
    }

    div#slider figure {
        position: relative;
        height: 405px;
        width: 600%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite;
    }



/*end of slider*/
/*portfolio button*/
section.grid-item.grid-item-4 {
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img#portfoliobutton {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
}

    img#portfoliobutton:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }
/*about button*/
section.grid-item.grid-item-5 {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img#aboutbutton {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
}

    img#aboutbutton:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }
/*contact button */
section.grid-item.grid-item-6 {
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img#contactbutton {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;
}

    img#contactbutton:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }

section.grid-item.grid-item-7 {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    background-color: gray;
    padding: 20px;
}
/*quick glance section*/
section.grid-item.grid-item-8 {
    grid-column: 1 / span 3;
}
/*progress bar section starts here*/
#progressbar {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 95%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }
/*PROGRESS BAR 1*/
#progressbar1 {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar1 > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 90%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }
/*PROGRESS BAR 2*/
#progressbar2 {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar2 > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 80%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }
/*PROGRESS BAR 3*/
#progressbar3 {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar3 > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 85%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }
/*PROGRESS BAR 4*/
#progressbar4 {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar4 > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 60%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }
/*PROGRESS BAR 5*/
#progressbar5 {
    background-color: lightgray;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    padding: 6px;
    margin-left: 2px;
    margin-bottom: 2px;
}

    #progressbar5 > div {
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #4286f4;
        width: 80%; /* Adjust with JavaScript */
        height: 25px;
        border-radius: 2px;
    }

/*progress bar ends here */


/* details section part 1 of 3*/
/*DETAILS*/
section.grid-item.grid-item-9 {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.detailsinfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 20px;
}
/* quick links section part 2 of 3*/
/*QUICK LINKS*/
section.grid-item.grid-item-10 {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*keep in touch section part 3 of 3*/
/*KEEP IN TOUCH*/
section.grid-item.grid-item-11 {
    grid-column: 3 / span 1;
    display: flex;
    margin-right: 100px;
    flex-direction: row;
    justify-content: flex-end;
}

/*footer*/
section.grid-item.grid-item-12 {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    color: white;
    background-color: gray;
    padding: 20px;
}
